<!-- ###PLAIN### start -->
The is the weekly calendar reminder.

###EVENTLIST###

<!-- ###PLAIN### end -->

<!-- ###EVENT### start -->
###DAY###, ###DATE###, ###STARTTIME###: *###TITLE###*
   ###ORGANIZER###, ###LOCATION###
   ###CATEGORIES###
   ###LINK###
<!-- ###EVENT### end -->

<!-- ###EVENTDIVIDER### start -->
-----------------------------------------------------------
<!-- ###EVENTDIVIDER### end -->

<!-- ###LINKPROTOTYPE### start -->
<http://yourDomain.com/singleEventView/&tx_cal_controller[view]=event&tx_cal_controller[type]=tx_cal_phpicalendar&tx_cal_controller[uid]=###EVENTUID###>
<!-- ###LINKPROTOTYPE### end -->