<!-- ###PLAIN### start -->
The is a short announcement mail for the following upcoming event:

###EVENTLIST###

<!-- ###PLAIN### end -->

<!-- ###EVENT### start -->
*###TITLE###*
###DAY###, ###DATE###, ###STARTTIME###
###ORGANIZER###, ###LOCATION###

###TEASER###
###DESCRIPTION###

###LINK###
   
###CATEGORIES###
<!-- ###EVENT### end -->

<!-- ###EVENTDIVIDER### start -->

-----------------------------------------------------------

<!-- ###EVENTDIVIDER### end -->

<!-- ###LINKPROTOTYPE### start -->
<http://yourDomain.com/singleEventView/&tx_cal_controller[view]=event&tx_cal_controller[type]=tx_cal_phpicalendar&tx_cal_controller[uid]=###EVENTUID###>
<!-- ###LINKPROTOTYPE### end -->
